<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">{{ contact.name }}
        <div>
          <span class="pull-left">
              <img
                [src]="contact.imageUrl"
                alt="{{ contact.name }}"
                class="img-responsive"
                style="max-height: 60px;">
          </span>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
      <div class="panel-body">
        <p>Email: {{contact.email}}</p>
        <p>Phone: {{contact.phone}}</p>
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
